.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.line-num {
	margin-right: 20px;
	color: #ccc;
}
.doc-scrollable {
  max-height: 700px;
  overflow-y: scroll;
}
pre.default {
  background-color: #f5f5f5;
  padding: 9.5px;
}
pre {
	background-color: #23241f;
	padding: 0px;
}

ul.sample {
    list-style-type: disc;
}