<script src="js/partials/sample02.js"></script>
<div class="row">
  <tabset>
    <tab>
      <tab-heading>テキスト</tab-heading>
      <div class="doc-scrollable" marked ng-include="'partials/sample02.md'"></div>
    </tab>
    <tab>
    <tab-heading>サンプル</tab-heading>
      <div class="page-header"><h2>Executable</h2></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
<div ng-controller="Sample02Ctrl">
<p>{{books.length}} books</p>
<ul>
<li ng-repeat="book in books">{{book.title}}</li>
</ul>
</div>
          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
        <div class="row">
          <div class="page-header">
            <h2>Code</h2> 
          </div>
          <div class="col-md-12">
            <marked>
            </marked>      
          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
      </div><!-- / .container -->
    </tab>
  </tabset>
</div>    
