<div class="row">
  <tabset>
    <tab>
      <tab-heading>テキスト</tab-heading>
      <div class="doc-scrollable" marked ng-include="'partials/sample01.md'"></div>
    </tab>
    <tab>
    <tab-heading>サンプル</tab-heading>
      <div class="page-header"><h2>Executable</h2></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>テキストボックスに何か入力してみてください</p>
            <input type="text" ng-model="msg">
            <p>入力した値：{{msg}}</p>
            <p>エクスプレッションでの計算結果：{{1 + 1}}</p>
            <p>入力した値の length == 3：{{msg.length == 3}}</p>
          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
        <div class="row">
          <div class="page-header">
            <h2>Code</h2> 
          </div>
          <div class="col-md-12">
            <marked>
```html  
&lt;p>テキストボックスに何か入力してみてください&lt;/p>
&lt;input type="text" ng-model="msg">
&lt;p>入力した値：{{msg}}&lt;/p>
&lt;p>エクスプレッションでの計算結果：{{1 + 1}}&lt;/p>
&lt;p>入力した値の length == 3：{{msg.length == 3}}&lt;/p>
```
            </marked>      
          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
      </div><!-- / .container -->
    </tab>
  </tabset>
</div>    
