<div class="row">
  <tabset>
    <tab>
      <tab-heading>テキスト</tab-heading>
      <div class="doc-scrollable-none" marked ng-include="'partials/sample03.md'"></div>
    </tab>
    <tab>
      <tab-heading>サンプル1</tab-heading>
      <div class="page-header"><h2>Executable</h2></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div ng-controller="Sample03Ctrl">
            <h3>1.大文字／小文字フィルター(lowercase/uppercase)</h3>
            <ul >
              <li ng-repeat="member in members">
              {{$index}}
              <span ng-show="$odd">{{member.name|lowercase}}</span>
              <span ng-show="$even">{{member.name|uppercase}}</span>
              </li>
            </ul>

            <h3>2.通貨フィルター(currency)</h3>

            <ul>
            <li>{{100|currency}}</li>
            <li>{{1000|currency}}</li>
            </ul>

            <h3>3. 日付フィルター(date)</h3>            

            <ul>
            <li>フィルターなし：{{members[0].birthday}}</li>
            <li>yyyy/MM/dd：{{members[0].birthday|date:'yyyy/MM/dd'}}</li>
            <li>yyy年M月d日：{{members[0].birthday|date:'yyyy年M月d日'}}</li>
            </ul>

          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
        <div class="row">
          <div class="page-header">
            <h2>Code</h2> 
          </div>
          <div class="col-md-12">
          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
      </div><!-- / .container -->
    </tab>
  </tabset>
</div>    
