<div class="row">
  <tabset>
    <tab>
      <tab-heading>テキスト</tab-heading>
      <div class="doc-scrollable" marked ng-include="'partials/sample02.md'"></div>
    </tab>
    <tab>
      <tab-heading>サンプル</tab-heading>
      <div class="page-header"><h2>Executable</h2></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div ng-controller="Sample02Ctrl">
              <p>{{message}}</p>
              <button ng-click="sayGoodbye()">push me!</button>
            </div>
          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
        <div class="row">
          <div class="page-header">
            <h2>Code</h2> 
          </div>
          <div class="col-md-12">
            <marked>
HTML            
```html
&lt;div ng-controller="Sample02Ctrl">
  &lt;p>{{message}}&lt;/p>
  &lt;button ng-click="sayGoodbye()">push me!&lt;/button>
&lt;/div>
```

JavaScript
```js
angular.module('app', [ ])
  .controller('Sample02Ctrl', ['$scope', function($scope){
    $scope.message = 'Hello World';
    $scope.sayGoodbye = function() {
      $scope.message = 'Goodbye Everyone!';
    };
  }]);
```            
            </marked>      
          </div><!-- / .col-md-12 -->
        </div><!-- / .row -->
      </div><!-- / .container -->
    </tab>
  </tabset>
</div>    
