<h2>第１回：データバインディング</h2>

<tabset>
<tab>
<tab-heading>Run</tab-heading>
  <div class="row">
    <div class="col-md-6">
      <input type="text" ng-model="msg">
      <p>{{msg}}</p>
      <p>{{1 + 1}}</p>
      <p>{{msg.length == 3}}</p>
    </div>    
    <div class="col-md-6">
    </div>    
  </div>
</tab>
<tab>
  <tab-heading>Html</tab-heading>
  <div class="row">
    <div class="col-md-6">
      <marked>
# aaa
```html  
&lt;input type="text" ng-model="msg">
&lt;p>{{msg}}&lt;/p>
&lt;p>{{1 + 1}}&lt;/p>
&lt;p>{{msg.length == 3}}&lt;/p>
```
      </marked>
    </div>
  </div>
  <div class="col-md-6">
  </div>
  </tab>
</tabset>
